*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Inter", sans-serif;
}
img {
    width: 100%;
}

/* common css styles */
.common-btn{
    background-color: #1D4ED8;
    color: #FFFFFF;
    padding: 12px 40px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    padding: 18px 8%;
}
ul{
    display: flex;
    list-style: none;
    gap: 24px;
}
a{
    text-decoration: none;
    color: #575757;
}
