* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}
img {
    width: 100%;
}

/* common css styles */
.common-btn {
    background-color: #1D4ED8;
    color: #FFFFFF;
    padding: 12px 24px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Nav Section Style */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    padding: 18px 8%;
}

ul {
    display: flex;
    list-style: none;
    gap: 24px;
}

a {
    text-decoration: none;
    color: #575757;
}

/* Hero Section Style */
header {
    background-image:linear-gradient(to right, rgba(0, 0, 0, 0.6) 30%, transparent 70%), linear-gradient(225deg, transparent 42%, rgba(0, 0, 0, 0.88) 87%), url('./images/banner.jpg');
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-content {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 220px;
}
.hero-heading{
    padding-top: 30px;
    margin-bottom: 16px;
    font-size: 64px;
}
.hero-text{
    color: #ffffffe6;
}
.hero-btn{
    font-size: 22px;
    padding: 18px 36px;
}